@import "libs/reset.scss";

//  ./dart-sass/sass sass/style.scss css/style --watch

/***
FONTS ------------------------------------------------------------------------------------------------------------------------------
***/

$primaryFont: ;
$secondaryFont: ;


/***
COULEURS --------------------------------------------------------------------------------------------------------------------------
***/

$couleurPrimaire: #FDC735;
$couleurSecondaire: #F07F25;


/***
GLOBAL -----------------------------------------------------------------------------------------------------------------------------
***/


/***
HEADER ----------------------------------------------------------------------------------------------------------------------------
***/

header {



    nav {


        div {

            img {

            }
        }

        p {

            a {
                
            }
        }
    }

}

/***
CORPS -----------------------------------------------------------------------------------------------------------------------------
***/

main {


    section {

        
    }
}


/***
FOOTER -----------------------------------------------------------------------------------------------------------------------------
***/