@media screen and (max-width: 768px){
  .first-footer-container {
    justify-content: center;

  }
}

@media screen and (max-width: 768px){
  .second-footer-container {
    justify-content: center;

  }
}

@media screen and (max-width: 768px){
  .third-footer-container {
    justify-content: center;

  }
}
