/***
COULEURS --------------------------------------------------------------------------------------------------------------------------
***/

$couleurPrimaire: #FDC735;
$couleurSecondaire: #F07F25;
$couleurFondHeader: #F7A61B;
$couleurFondFooter: #FEECCD;
$grisClair: #E0E0E0;
$grisBackground: #EEEEEE;
$grisFonce: #333333;
$blanc:#FFFF;

/***
FONTS ------------------------------------------------------------------------------------------------------------------------------
***/

$Lato: 'Lato', sans-serif;
$Raleway: 'Raleway', sans-serif;
$Odibee: 'Odibee Sans', cursive;

/***
GLOBAL ------------------------------------------------------------------------------------------------------------------------------
***/

.center, .center-column, .top, .right, .bottom, .left {
	display: flex;
	justify-content: center;
	align-items: center;
}
.top    { align-items:     flex-start; }
.right  { justify-content: flex-end;   }
.bottom { align-items:     flex-end;   }
.left   { justify-content: flex-start; }