footer {
  background-color: #333333;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 0px!important;
  padding: 12px;
  a {
    font-size:12px;
    color: #FFF;

    &:hover {
      color: #FFF;
    }
    &:first-child {
      margin-left: 16px;
    }
    &:last-child {
      margin-left: 2rem;
      margin-left: 1rem;
    }
  }

  p {
    @extend a;
    margin-right: 1.5rem;
    margin-left: 62px;
  }
}


.column-container{
  width: 100%;
}

.container-footer{
  display: inline-flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}

.first-footer-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.second-footer-container{
  display: flex;
  justify-content: center;
  align-items: center;

}

.third-footer-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;

}