/***
HEADER ------------------------------------------------------------------------------------------------------------------------------
***/
#left-block{
    position: absolute;
    width: 123px;
    height: 1028px;
    left: -6px;
    top: 478px;
    background: #FF8202;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    clip-path: polygon(0% 0%, 100% 0%, 100% 78%, 0% 100%);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 78%, 0% 100%);
}

#headline {
    font-family: 'Raleway', sans-serif;
    color: #FFF;
    margin-top: 12rem;

    h2 {
        font-size: 36px;
        font-weight: 900;
    }

    .my-cta {
        border: none;
        background-color: #F7A61B;
        color: #FFF;
        border-radius: 40px;
        font-weight: 700;
        font-size: 24px;
        box-shadow: 0px 0px 10px rgba(000, 000, 000, 25%);
    }
}

figure#scrollPicto {
    /*display: flex;
    justify-content: center;*/
    margin: 0px auto 20px auto;
}