/***
COULEURS --------------------------------------------------------------------------------------------------------------------------
***/

$couleurPrimaire: #FDC735;
$couleurSecondaire: #F07F25;
$couleurFondHeader: #F7A61B;
$couleurFondFooter: #FEECCD;
$grisClair: #E0E0E0;
$grisBackground: #EEEEEE;
$grisFonce: #333333;
$blanc:#FFFF;

/***
FONTS ------------------------------------------------------------------------------------------------------------------------------
***/

$Lato: 'Lato', sans-serif;
$Raleway: 'Raleway', sans-serif;
$Odibee: 'Odibee Sans', cursive;

/***
NAVBAR ------------------------------------------------------------------------------------------------------------------------------
***/

nav.navbar.my-navbar {
    background-color: $couleurFondHeader;
    clip-path: polygon(0% 0%, 100% 0%, 100% 78%, 0% 100%);
    
    .my-logo {
        max-width: 300px;
    }


}

#navbarMenuHeroA .navbar-item.navbar-first-active {
    font-size: 18px;
    font-weight: 800;
    font-family: $Raleway;
    color: $blanc;

    &:hover{
        color: black;
    }
    &:focus{
        color: black;
    }
}