/***
HEADER ------------------------------------------------------------------------------------------------------------------------------
***/

#headline {
    font-family: 'Raleway', sans-serif;
    color: #FFF;

    h2 {
        font-size: 36px;
        font-weight: 700;
    }

    h2 {
        font-size: 24px;
    }

    .my-cta {
        border: none;
        background-color: #F7A61B;
        color: #FFF;
        border-radius: 40px;
        font-weight: 700;
        font-size: 24px;
    }

    .scrollPicto {
        display: inline;
    }
}