/***
NAVBAR ------------------------------------------------------------------------------------------------------------------------------
***/

section#main {
    background-color: #EEEEEE;
}

nav.navbar.my-navbar {
    background-color: $couleurFondHeader;
    clip-path: polygon(0% 0%, 100% 0%, 100% 78%, 0% 100%);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 78%, 0% 100%);
}

 
figure.image .my-logo {
    max-width: 165px;
    max-height: 5rem;
    width: 165px;
}

#navbarMenuHeroA .navbar-item.my-navbar-item {
    font-size: 18px;
    font-weight: 500;
    font-family: $Raleway;
    color: white;
    padding-top: 0;

    &:hover{
        color: black;
        background-color: none;
        font-weight: 800;
    }
    &:focus{
        color: black;
    }
}